{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static "css/landing.css" %}">
    <link rel="stylesheet" href="{% static 'css/shared/product-card-view.css' %}">
{% endblock %}

{% block content %}

    <div class="parallax-container">
        <div class="parallax">
            <img src="https://photos.alexfreyr.com/banner-image.jpg" class="place_higher">
        </div>
    </div>

    <div class="content-background">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l4">
                    <h3>News</h3>
                    <!-- Make these cards dynamically served from models -->
                    <div class="card blue accent-3 card-news">
                        <div class="card-content white-text">
                            <span class="card-title">Mario Bros Speedrun record broken</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#" class="yellow-text text-accent-2">Read more...</a>
                        </div>
                    </div>

                    <div class="card blue accent-3 card-news">
                        <div class="card-content white-text">
                            <span class="card-title">Sony hacked</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#" class="yellow-text text-accent-2">Read more...</a>
                        </div>
                    </div>
                    <!-- ################################################ -->

                </div>
                <div class="col s12 m12 l8">
                    <h3>Trending now</h3>

                    <div class="row">
                        {% for product in products %}
                            <div class="col s12 m6 l6 xl4">
                                {% include 'product-card-view.html' with product=product %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}