    <a class="modal-trigger" href="#modal1"><i class="material-icons icn_profile waves-effect">person</i></a>



   <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>



{##}
{#<div class="card-panel white">#}
{#    <h3 class="card-title">Confirmation</h3>#}
{#    <form class="col s12">#}
{##}
{#        <div class="row">#}
{#            <div class="input-field col s12">#}
{#                <h5>Your order has been placed</h5>#}
{#                <p>Thank you for your purchase!</p>#}
{#                <p>A confirmation email will be sent to: personpersonsson@gmail.com</p>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <a class="btn waves-effect blue accent-3"  href="/store">Continue shopping#}
{#        <i class="material-icons right">shopping_cart</i></a>#}
{##}
{#    </form>#}
{#</div>#}
