{%  extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static "css/checkout.css" %}">
    <link rel="stylesheet" href="{% static "css/shared/custom-breadcrumbs.css" %}">
{% endblock %}

{% block content %}
<div class = "checkout container">
    <div class="checkout_inner container">
        {% include 'checkout/crumbs.html' %}
        <div class="col s4 m6">
            {% if page_checkout == 'contactinfo' %}
                {% include 'checkout/contactinfo.html' %}
            {% elif page_checkout == 'shipping' %}
                {% include 'checkout/shipping.html' %}
            {% elif page_checkout == 'paymentinfo' %}
                {% include 'checkout/paymentinfo.html' %}
            {% endif %}
        </div>
        <div class="col s4 m6 fix-content">
            <div class="card-panel white">
                <span class="col s12">
                    {% include 'checkout/shoppingcart.html' with order_products=order_products %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script src="{% static "js/checkout.js" %}"></script>
    {% if page_checkout == 'paymentinfo' %}
        <script src="{% static "js/paymentinfo.js" %}"></script>
        <script src="{% static "js/checkout.js" %}"></script>
    {% endif %}
{%endblock%}
