
<div class="card-panel white">
    <h3 class="card-title">Shipping information</h3>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">home</i>
            <input id="icon_prefix" type="text" class="validate" required value="{{user.address_set.first.address}}">
            <label for="icon_prefix">Address</label>
        </div>

        <div class="input-field col s12">
            <i class="material-icons prefix">landscape</i>
            <input id="icon_prefix" type="tel" class="validate" required value="{{user.address_set.first.country}}">
            <label for="icon_prefix">Country</label>
        </div>

        <div class="input-field col s6">
            <i class="material-icons prefix">location_city</i>
            <input id="icon_prefix" type="text" class="validate" required value="{{user.address_set.first.city}}">
            <label for="icon_prefix">City</label>
        </div>

        <div class="input-field col s6">
            <input id="icon_prefix" type="text" class="validate" required value="{{user.address_set.first.zip_code}}">
            <label for="icon_prefix">Zip</label>
        </div>
    </div>

    <div class="row">
        <a class="btn waves-effect blue accent-3 move-buttons"  href="{% if user.id %}{% url 'checkout_index' user.id %}{% else %}{% url 'checkout_index' %}{% endif %}">Back
        <i class="material-icons right">arrow_back</i></a>

        <a class="btn waves-effect blue accent-3 move-buttons"  href="{% if user.id %}{% url 'checkout_payment' user.id %}{% else %}{% url 'checkout_payment' %}{% endif %}">Next
            <i class="material-icons right">arrow_forward</i>
        </a>
    </div>
</div>
