
<div class="row">
    <div class="input-field col s12">
        {% for order_product in order_products %}
            {% include 'checkout/shoppingcart_element.html' with order_product=order_product %}
        {% endfor %}
    </div>
</div>



<!--
    A single card that contains the product title, image, price and available discount (if any)
-->

            <div class="row">
                <img class="product-img" src="{{ product.productphoto_set.first.path}}" alt="{{ product.productphoto_set.first.alt }}">

                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ product.name }}</span>
                            {% if product.discount <= 0 %}
                                <strong class="flow-text set-price">${{ product.price }}</strong>
                            {% else %}
                                <strong class="flow-text">
                                    <span class="discount">
                                        <sup>${{ product.price }}</sup>
                                    </span>
                                </strong>
                            {% endif %}
                    </div>
                </div>
            </div>
{#        </span>#}
{#    </div>#}
{#</div>#}
