<footer class="page-footer grey darken-2">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">About us</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Contact us</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Terms of service</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey darken-3">
        <div class="container">
            © 2020 Captain Console
        </div>
    </div>
</footer>