{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static "css/account.css" %}">
{% endblock %}

{% block content %}
<div class = "account container">
    <div class="profile container">
        <div class="col s4 m6">

            {% if page_account == 'profile' %}
                {% include 'account/profile.html' with user=user %}
            {% elif page_account == 'edit_profile' %}
                {% include 'account/edit_profile.html' with user=user %}
            {% endif %}

        </div>
        <div class="col s4 m6">
            <div class="card-panel white">
                <span class="col s12">
                    <h5>Order history</h5>

{#                    {% for order in orders %}#}
{#                        {% include 'account/order_history.html'%}#}
{#                    {% endfor %}#}
                    {% for orde in order %}
                        {% include 'account/order_history.html'%}
                    {% endfor %}

                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    {% if page_account == 'edit_profile' %}
        <script src="{% static "js/account_edit.js" %}"></script>
    {% endif %}
{% endblock %}